@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 100 700;
    src: url(./fonts/Material-Symbols-Rounded.woff2) format('woff2');
    font-display: swap;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* END OF DECLARATION OF FONTS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}


/* BEGIN OF NAVIGATION BAR */
nav {
    background-color: #f3f6fc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    min-height: 60px;
    max-height: 80px;
}

nav > ul {
    list-style-type: none;
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 70px;
    gap: 2vw;
}

nav > ul > li * {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

/* Hide the radio button on Navigation bar */
nav > ul > li > input { display: none; }

nav > ul > li > label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav label:not([class*=icons]) {
    font-size: 14px;
    font-weight: 400;
}

nav * {
    color: #444746;
    user-select: none;
}

nav input:hover + label *,
input:checked + label * {
    color: #1f1f1f;
}

input:checked + label > label{
    transition: font-weight 0.2s cubic-bezier(0.2, 0, 0, 1);
    font-weight: 700;
}

    /* icon */
nav .icon {
    display: flex;
    align-content: center;
    padding: 0 0;
    border-radius: 50vh;
}
nav .icon span {
    padding: 2px 0;
    font-weight: 350;
}

nav input:hover + label .icon {
    padding: 0px 16px;
    background-color: #e6e9ee;
}

nav input:checked + label > .icon,
nav input:checked:hover + label > .icon {
    transition: padding 300ms cubic-bezier(0, 0, 0, 1);
    padding: 0 0;
}

nav input:checked + label span,
nav input:checked:hover + label span {
    transition: padding 300ms cubic-bezier(0, 0, 0, 1);
    padding: 2px 16px;
    border-radius: 50vh;
}

nav input:checked:hover + label span { background-color: #b8daf0; }
nav input:checked + label span { background-color: #c2e7ff; }

nav input:hover:not(:checked) + label span {
    transition: font-weight 0.5s cubic-bezier(0.2, 0, 0, 1);
    font-weight: 600;
}

@keyframes checked-hover {
    0% { font-variation-settings: 'wght' 350, 'FILL' 1; }
    100% { font-variation-settings: 'wght' 600, 'FILL' 1; }
}
nav input:checked:not(:hover) + label span  { font-variation-settings: 'FILL' 1; }
nav input:checked:hover + label span { animation: checked-hover 0.5s forwards cubic-bezier(0.2, 0, 0, 1); }


/* End of icon */

/* END OF NAVIGATION BAR */

html, body { height: 100%}

body {
    display: flex;
    flex-direction: column;
}

div[id^=page]:not(#page-home) {
    flex-grow: 1;
    background-color: rgb(213, 237, 245);
    align-items: center;
    justify-content: center;
}

#page-home, #page-shop, #page-contact { display: none; }
body:has(#nav-home:checked) #page-home,
body:has(#nav-shop:checked) #page-shop,
body:has(#nav-contact:checked) #page-contact { display: flex; }

h1, h2, h3, h4, h5, p {
    color: #1f1f1f;
}


/* HOME PAGE */
#page-home header {
    width: 100vw;
    aspect-ratio: 4/1;
    margin: 2vw;
    background-image: url(./images/header-home.webp);
    background-size: cover;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5vw;
    gap: 5px;
}

#page-home header h1 {
    font-size: calc((60vw + 6rem) / 10);
}
#page-home header p {
    font-weight: 450;
    font-size: calc((35vw + 25rem) / 40);
}
