/* body {
    padding: 100px;
}

#page1, #page2{
    display: none;
}

body:has(#p1:checked) #page1 {
    display: block;
}
body:has(#p2:checked) #page2 {
    display: block;
} */

@font-face {
    font-family: "Product Sans";
    src: url("./fonts/GoogleSans-Regular.woff2");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Product Sans";
    src: url("./fonts/GoogleSans-Medium.woff2");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Product Sans";
    src: url("./fonts/GoogleSans-Bold.woff2");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Product Sans";
    src: url("./fonts/GoogleSans-Italic.woff2");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Product Sans";
    src: url("./fonts/GoogleSans-MediumItalic.woff2");
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "Product Sans";
    src: url("./fonts/GoogleSans-BoldItalic.woff2");
    font-style: italic;
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Product Sans';
}
/* BEGIN OF NAVIGATION BAR */
nav {
    background-color: #f3f6fc;
    display: flex;
    height: 8vh;
    min-height: 60px;
    align-items: center;
    justify-content: center;
}

nav > ul {
    list-style-type: none;
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 70px;
    gap: 3vw;
}

nav > ul > li * {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

/* Hide the radio button on Navigation bar */
nav > ul > li > input { display: none; }

nav > ul > li > label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav label:not([class*=icons]) {
    font-size: calc(10px + 0.4vw);
}

nav * {
    color: #444746;
}

nav input:hover + label *,
input:checked + label * {
    color: #1f1f1f;
}

input:checked + label > label{
    font-weight: 700;
}

    /* icon */
nav .icon {
    display: flex;
    align-content: center;
    padding: 0 0;
    border-radius: 50vh;
}
nav .icon span {
    padding: 2px 0;
}

nav input:hover + label .icon {
    padding: 0px 16px;
    background-color: #e6e9ee;
}

nav input:checked + label > .icon,
nav input:checked:hover + label > .icon {
    transition: padding 250ms ease-out;
    padding: 0 0;
}

nav input:checked + label span,
nav input:checked:hover + label span {
    transition: padding 250ms ease-out;
    padding: 2px 16px;
    border-radius: 50vh;
}

nav input:checked:hover + label span { background-color: #b8daf0; }
nav input:checked + label span { background-color: #c2e7ff; }

nav input:not(:checked) + label span[class$=icons],
nav input:checked + label span[class$='outlined']  {
    position: absolute;
    visibility: hidden;
}
    /* End of icon */



/* END OF NAVIGATION BAR */